
*.aux

thesis-blx\.bib

thesis\.lof

thesis\.log

thesis\.lol

thesis\.lot

thesis\.out

thesis\.run\.xml

thesis\.synctex\.gz

thesis\.toc

thesis\.bbl

thesis\.blg

*.log

komentare/

*.toc
presentation/pres.synctex.gz
*.snm
presentation/pres.nav
presentation/pres.out
*.nav
presentation/pres_dhl.out
*.gz
*.dvi
gfx/cliffwalker/

*.bbl

*.blg
